  /* Cabecera:  */
  
 header{
      background: #4A1B1A;
      position: relative;
      background-image: url('fotos/fondo2.jpg');
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
#text1{
        font-size: 100px;
}

#text2{
    letter-spacing: 0.15em;
    
}



/* Primera pagina: */
#btIrAActualizarBodegas{
    color: lightgray;
    background-color:  #6a2221;
    border: 3%;
    border-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    content: normal;
    width: 500px;


}
#btIrAActualizarBodegas:hover{
    background-color: #3d1311 ;
}

#cuerpo{
    background-color: whitesmoke;

}


/* Bodegas disponibles: y resumen bodega */

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.btn-bg-color{
    background-color: #6a2221;
    color:white;
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    font-size: 125%;
}
.btn-bg-color:hover{
    background-color: #3d1311;
}

.form-check-label{
    font-family: 'Times New Roman', Times, serif;
    color: #3d1311;
    font-weight:500;
}

.bg-color{
    #contenido {
        padding: 2%;

    }
}
#contenido{
    padding: 3%;
}


.background-container.fluid {
    position: relative;
    background-image: url('fotos/fondo2.jpg');
    background-position: center;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.15em;
    padding: 40px;
}


input[type="radio"]{
    color: black;
    border: 2px solid black;
}

/*
.scrollmenu {
    background-color: #767575;
    overflow: auto;
    white-space: nowrap;
  }
  
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
.scrollmenu a:hover {
    background-color: #777;
  }
*/



/* Tabla Resumen de Actualizacion : */

.content-table {
    margin: 30px;
    font-size: 15px;
    border-radius: 10px ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(46, 20, 20, 0.15);
    border-collapse: collapse;
    
}

.content-table thead tr {
    background-color: rgb(173, 173, 173);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th, td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #eeeeee;
}


/* Scroll: */
.scrollmenu {
    max-height: 400px;
    overflow-y: auto; 
}

.scrollmenu::-webkit-scrollbar {
    width: 10px; 
}

.scrollmenu::-webkit-scrollbar-track {
    background: whitesmoke;
}

.scrollmenu::-webkit-scrollbar-thumb {
    background-color: #88888854; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
    background: #55555579; 
}


/* FOOTER */

#facebook{
    height: 30px;
    width: 30px;
}

#x{
    align-items: left;
    margin-left: auto;
    height: 30px;
    width: 30px;
}

#whats{
    margin-left: auto;
    height: 30px;
    width: 30px;
}


#youtub{
    margin-left: auto;
    height: 30px;
    width: 30px;
}


#insta{
    margin-left: auto;
    height: 30px;
    width: 30px;
}


#fot{

    margin-right: 10px;
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contacto{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 30px;
    color: rgb(104, 103, 103);
}